/*default setting*/

*{
    margin:0;
    padding:0;

}

    a {
    text-decoration:none;
}

    li{
    list-style:none;
}

    em,i{
    font-style:normal;
}

    #fullpage .section{
    background-size:cover;
}

/*title_style*/
.ml6 {
  font-size:60px;
  text-align:center;

}
.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml6 .letter {
  display: inline-block;
  line-height: 1em;
  font-family:"Bradley Hand ITC";
  color:#46B29A;
  font-weight:bold;
}

/*background_style*/
#fullpage .section:nth-child(1){
    background:url(../imgpart1/background_team.png) no-repeat;
    height:100%;
    background-size: 100% 100%;
    top: 0;
    left: 0;

}

/*pot_color*/
#fp-nav ul li a span {
    background:rgba(255,255,255,0);
}

/*button_style*/
.button{
  cursor: pointer;
}

@-webkit-keyframes stripe-slide {
		  0% {
		    background-position: 0% 0;
		  }
		  100% {
		    background-position: 100% 0;
		  }
		}
		@keyframes stripe-slide {
		  0% {
		    background-position: 0% 0;
		  }
		  100% {
		    background-position: 100% 0;
		  }
		}
		
		
.btn {
		  margin: 0;
      
		  background: transparent;
		  font: inherit;
		  line-height: normal;
		  cursor: pointer;
		  -moz-user-select: text;
		  display: block;
      font-family:"Bradley Hand ITC";
      font-weight:bold;
		  background-color: rgba(255,255,255,0.5);
		  color: #F6A09F;
		  border: 2px solid rgba(0,0,0,0.3);
		  border-radius: 10px;
		  transition: all 0.5s ease;
		}

.btn:-moz-focus-inner {
		  padding: 0;
		  border: 0;
		}

.btn--stripe {
		  overflow: hidden;
		  position: relative;
		}

.btn--stripe:after {
		  content: "";
		  display: block;
		  height: 7px;
		  width: 100%;
		  background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
		  -webkit-backface-visibility: hidden;
		  backface-visibility: hidden;
		  border-top: 1px solid rgba(0,0,0,0.2);
		  position: absolute;
		  left: 0;
		  bottom: 0;
		  background-size: 7px 7px;
		}

.btn--stripe:hover {
		  background-color: rgba(0,0,0,0.2);
		  color: #fff;
		  border-color: rgba(0,0,0,0.2);
		}

.btn--stripe:hover:after {
		  background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
		  border-top: 1px solid rgba(0,0,0,0.2);
		  animation: stripe-slide 12s infinite linear forwards;
		}
