#city_background {
    position: absolute;
    width: 100%;
    z-index: -1;
    bottom: 0%;
  }

  #homepageTitle {
    position: relative;
    padding: 5px;
  }

.homepage_menu {
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 12vh;
    margin-left: 35%;
    top: 88vh;
  }

  .button {
    width: 200px;
    text-align: center;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }

  .Title {
    text-align: center;
    font-size: 55px;
    margin-top: 10%;
    font-weight:bold;
    color:#46B29A;
  }
  .Text {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    color: #080808;
  }
  .Header {
    font-size: 40px;
    font-family: Futura, sans-serif;
    color: #46B29A;
    margin-top: 20%;
    text-align: center;
    
  }
  .Text2 {
    text-align: left;
    display: block;
    margin-left: 20%;
    margin-right: 50%;
    margin-top: 5%;
    color: #404040;
  }

  .Text3 {
    text-align: left;
    display: block;
    margin-left: 50%;
    margin-right: 20%;
    margin-top: 5%;
    color: #404040;
  }

  section.story {
    background-color: #E0EBE7;
    background-size: 100%;          
}